/*---------------------------------------
	UCBA Media Musings
---------------------------------------*/


/* GLOBAL SETTINGS
---------------------------------------*/

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100vh;
  background-color: orange;
  padding: 0.5rem;
}
	
div.wrapper {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid darkred;
  box-shadow: 10px 5px 5px rgb(104, 43, 43);
  background-color: white;
}

img {
  max-width: 100%;
}


/* HEADER
---------------------------------------*/
/* ⬇ Entire header area */
header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/* ⬇ Contains both the h1 and h2 */
header div.site-name { 
  
}

.luxurious-roman-regular {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  font-family: "Luxurious Roman", serif;
  font-size: 275%;
}

/* ⬇ The h1's link */
header h1 a {
	text-decoration: none;
	color: black;
}

header h2 {
  font-size: 137.50%;
}



/* MAIN NAVIGATION 
---------------------------------------*/	
/* ⬇ Entire navigation area */
nav.topnav { 
  
}

nav.topnav ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}

nav.topnav li {
  
}

/* ⬇ Links in the navigation bar */
nav.topnav a {
	padding: 1rem 2rem;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	color: black; /* ← you can change this */
  transition: all 0.75s ease-in-out;
}

/* ⬇ Nav link hover effect */
nav.topnav a:hover {
	background-color: ghostwhite; /* ← you can change this */
	border-radius: 2rem;
}



/* HOMEPAGE LAYOUT
---------------------------------------*/	
/* ⬇ Make this a grid container */
main.homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .5em;
}

article.blog {
  grid-column: 1/4;
  grid-row: 1/3;
  padding: 1rem 1rem 1rem 1rem;
}
/* ⬇ Headline for the blog */
article.blog h2 { 
  font-size: 150%;
  border-bottom: 5px solid black;
}
/* ⬇ Text in the blog */
article.blog p { /* ← blog text */
  font-size: 135%;
  line-height: 1.5;
}

/* ⬇ This controls both asides */
main.homepage aside { 
  
}

/* ⬇ Recent aside */
main.homepage aside.recent {
  grid-row: 1/2;
  grid-column: 4/5;
}

/* ⬇ Links aside*/
main.homepage aside.links {
  grid-row: 2/3;
  grid-column: 4/5;
}

/* ⬇ Headlines at the top of the asides*/
main.homepage aside h3 { 
  font-size: 120%;
  text-transform: uppercase;
  padding: 1rem 1rem 1rem 1rem;
}

/* ⬇ Unordered list in asides */
main.homepage aside ul { 
  margin-left: 1rem;
}

/* ⬇ List items in the unordered list */
main.homepage aside li { 
  margin-bottom: 0.5rem;
}

/* ⬇ Link text in the asides */
main.homepage aside li a { 
  
}

/* ⬇ Aside hover effect */
main.homepage aside li a:hover { 
  color: darkred;
}



/* CAMPUS AREA
---------------------------------------*/
/* ⬇ Section that contains entire building area */
section.campus	{
  grid-column: 1/5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem
}	

/* ⬇ This applies to each building section */
section.campus section { /* ← all 6 of the building sections */
  
}

/* ⬇ Name of each building */
section.campus h3 {
  font-size: 125%;
}

/* ⬇ Contains each building's image and caption */
section.campus figure {
  
}

/* ⬇ Picture of each building */
section.campus img {
	border: 5px solid ghostwhite; /* ← you can change this */
	box-shadow: 0px 10px 13px -5px #626262; /* ← you can change this */
}

/* ⬇ Caption text under each building */
section.campus figcaption {
  font-size: 90%;
}


/* FOOTER
---------------------------------------*/

footer {
  background-color: white;
  padding: 1rem
}

footer small { 
  font-size: 75%;
  line-height: 1.5;
}

/* ⬇ The link in the footer */
footer a {
  
}


/* In a future assignment you'll create media queries below. */

/* TABLET
---------------------------------------*/




/* PHONE
---------------------------------------*/

